.navBar {
    display: flex;
    font-family:'Montserrat', sans-serif; 
    font-size: 18px; color: gray;
    font-weight: 1,400;
    box-shadow: 0 8px 8px -4px rgb(0 0 0 / 0.2);
    margin: 30px; padding: 5px; 
    justify-content: flex-end;
}

.flex-container > div { display: inline-flex;
    margin: 30px;
}

.logo { height: 60px; width: 135px;}

.title {font-family:'Montserrat', sans-serif; 
    font-size: 40px; color: rgb(39, 3A, 3A); 
    font-weight: bold; 
    margin-left: 120px; margin-right: auto;
}

.blurb { width: 70%; 
    align-content: center;
    font-family:'Montserrat', sans-serif; 
    font-size: 18px; color: rgb(65, 63, 63);
    font-weight: lighter;
    margin-left: 120px; margin-right: auto;
}

.buttons { 
    display: flex;
    margin-left: 100px; margin-right: auto;
    border-radius: 15px; 
}

.buttons > div { margin: 30px;}

#button1 { font-family:'Montserrat', sans-serif; 
    font-size: 18px;}

.footerContent { height: 1000px; 
background-color: rgb(31, 31, 31);}

.Chat { font-family:'Montserrat', sans-serif; 
    font-size: 40px; color: white;
    margin-right: auto; margin-left: 120px; 
}

.chatBlurb { font-family:'Montserrat', sans-serif; 
            font-size: 14px; color: white;
            width: 35%; 
            margin-right: auto; margin-left: 120px; 
}

.footerBox {max-height: 1000px; 
    background-color: rgb(31, 31, 31);}